<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="FeedLoadUserName" value="info@modizson.com" />
    <add key="FeedLoadUserPassword" value="Year2020$" />
    <add key="CategoryDataUrl" value="http://www.puckator-dropship.co.uk/gifts/feed_csv_categories.php" />
    <add key="ProductDataUrl" value="http://www.puckator-dropship.co.uk/gifts/feed_csv_products.php" />
    <add key="EANDataUrl" value="https://www.puckator-dropship.co.uk/gifts/ean_numbers.php" />
    <add key="ImageDataUrl" value="https://www.puckator-dropship.co.uk/gifts/image_paths.php" />



    <!--DESKTOP-->


    <!--<add key="ProductFilePath" value="D:\GIT\puckatorFeedLoader\File\Product\" />
    <add key="ProductImagesFilePath" value="D:\GIT\puckatorFeedLoader\File\Image\" />
    <add key="ProductBarcodeFilePath" value="D:\GIT\puckatorFeedLoader\File\EAN\" />-->

    <!--LAPTOP-->

    <add key="ProductFilePath" value="File\Product\product.csv" />
    <add key="ProductImagesFilePath" value="File\Image\image_path.csv" />
    <add key="ProductBarcodeFilePath" value="File\EAN\barcodes.csv" />

    <!--PC-->
    <!--<add key="DbConnection" value="data source=DESKTOP-SD66G75\MODIZSONPC;initial catalog=PUCKSOURCE;integrated security=True;MultipleActiveResultSets=True;" />-->

    <!--LAPTOP-->
    <add key="DbConnection" value="data source=DESKTOP-1CQE15U;initial catalog=PUCKSOURCE;integrated security=True;MultipleActiveResultSets=True;" />

    <add key="AzureStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=puckstore;AccountKey=tFLDYQOSHmlEORquVHCxN3RMKATRUJtp5zjEzTKpZfYSaSMFtZTy97TrGE5UcQ1KPclsQpxLF7VWSP5vmB//KQ==;BlobEndpoint=https://puckstore.blob.core.windows.net/;TableEndpoint=https://puckstore.table.core.windows.net/;QueueEndpoint=https://puckstore.queue.core.windows.net/;FileEndpoint=https://puckstore.file.core.windows.net/"/>

    <add key="Product_SourceFolder" value="D:\GIT\puckatorFeedLoader\File\Product" />
    <add key="ProductCategory_SourceFolder" value="D:\GIT\puckatorFeedLoader\File\Category" />
    <add key="ProductImage_SourceFolder" value="D:\GIT\puckatorFeedLoader\File\Image" />
    <add key="ProductCode_SourceFolder" value="D:\GIT\puckatorFeedLoader\File\EAN" />

    <add key="ProductDestinationContainer" value="product-container" />
    <add key="CategoryDestinationContainer" value="category-container" />
    <add key="ImageDestinationContainer" value="image-container" />
    <add key="BarcodeDestinationContainer" value="barcode-container" />



    <!-- SMTP-->

    <add key="SMTP_HOST" value="auth.smtp.1and1.co.uk" />

    <add key="SMTP_FROM" value="info@modizson.com" />

    <add key="SMTP_TO" value="info@modizson.com" />

    <add key="Support_Email" value="info@modizson.com" />

    <add key="SMTP_UserName" value="m83510685-118013067" />

    <add key="SMTP_Password" value="Year2018$" />

    <add key="TESTMODE" value="false" />
    <!-- Transactional Email Templates Path -->
    <add key="mxTemplatePath" value="EmailTemplate\" />

    <add key="SMTP_TO_NAME" value="Raman Ranjan" />


  </appSettings>
  
  
</configuration>