<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FeedLoadUserName" value="info@modizson.com" />
    <add key="FeedLoadUserPassword" value="Year2020$" />
    <add key="CategoryDataUrl" value="http://www.puckator-dropship.co.uk/gifts/feed_csv_categories.php" />
    <add key="ProductDataUrl" value="http://www.puckator-dropship.co.uk/gifts/feed_csv_products.php" />
    <add key="EANDataUrl" value="https://www.puckator-dropship.co.uk/gifts/ean_numbers.php" />
    <add key="ImageDataUrl" value="https://www.puckator-dropship.co.uk/gifts/image_paths.php" />
    

    <add key="ProductFilePath" value="D:\Visual Studio 2019\puckatorFeedLoader\File\Product\" />
    <add key="ProductImagesFilePath" value="D:\Visual Studio 2019\puckatorFeedLoader\File\Image\" />
    <add key="ProductBarcodeFilePath" value="D:\Visual Studio 2019\puckatorFeedLoader\File\EAN\" />
    
    
  </appSettings>

  <connectionStrings>
    <add name="DbConnection" connectionString="data source=DESKTOP-1CQE15U;initial catalog=puckstore;integrated security=True;" />
  </connectionStrings>
 
</configuration>